.background-dark-purple {
  background: $dark-purple;
}
.background-purple {
  background: $purple;
}
.background-pink {
  background: $pink;
}
.background-blue {
  background: $blue;
}
.background-light-blue {
  background: $light-blue;
}
.background-red {
  background: $red;
}
.background-green {
  background: $green;
}
.background-white {
  background: $white;
}
.background-black {
  background: $black;
}
.background-grey {
  background: $grey;
}