.text-dark-purple {
  color: $dark-purple;
}
.text-purple {
  color: $purple;
}
.text-pink {
  color: $pink;
}
.text-blue {
  color: $blue;
}
.text-light-blue {
  color: $light-blue;
}
.text-red {
  color: $red;
}
.text-green {
  color: $green;
}
.text-yellow {
  color: $yellow;
}
.text-white {
  color: $white;
}

.text-black {
  color: $black;
}
.text-grey {
  color: $grey;
}