$dark-purple: #262f3e;
$purple: #31355b;
$light-purple: #9E76B4;
$pink: #512d78;
$blue: #1d89da;
$light-blue: #14bdf4;
$red: #c42940;
$green: #23b95d;
$light-green: #5EC3AF;
$yellow: #FFCC4E;
$orange: #FF8F8F;
$black: #000;
$grey: #404041;
$white: #fff;
$white2: #E6E7E8;

// Bootstrap
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";



