<section ng-controller="AboutCtrl" class="text-center background-purple text-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-name cloud-right">about me</h1>
                <h2 class="profession cloud-left h5">Things you may want to know about me</h2>
                <img src="images/tea.png" class="img-responsive margin-center">
            </div>
        </div>
    </div>
</section>
<section class="text-center padding-space">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="loader">
                    <div class="box"></div>
                    <div class="hill"></div>
                </div>
                <h2 class="text-purple">pushing myself to the next level</h2>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <p class="paragraph">I'm just like the animation above, I keep pushing myself to the next level no matter how many times I fail, I keep it rolling until I overcome the obstacle in front of me. Obstacles are part of our everyday life and I found myself almost giving up. But hey!, I am a very stubborn guy so I never did.</p>
                <hr>
            </div>
            <div class="col-xs-12 col-md-6">
                <h2 class="text-purple">I love to learn new things</h2>
                <p>Knowing how to code is mostly about building things, and the path is a lot clearer when you have a sense of the end goal. But is it bad not having an end goal ? because I don't, I just keep learning new things all the time. I believe in the programming field there is not end to learning new languages and new ways to program. Technology just keep growing every single year, so we would never reach an end goal this is a fact for programmers.</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <h2 class="text-purple">Personal information</h2>
                <p>After going to college I realize that it was not my thing and I started working on my own projects from home while learning how to code. I turn out to be a very good frontend developer and CEO since I manage to made my first idea and goal come to life and actually made a good amount of money out of it. Since building my first website back in 2011 I have continued to be captivated and in love with what the web has to offer consumers and professionals. I enjoy when I deliver high quality builds for the client and my own gratification. I love overcoming challenges in development with particular focus in all things web standards, accessibility, semantic code, user experience and building website good practices.</p>
            </div>
        </div>
    </div>
</section>
