<section ng-controller="MainCtrl" class="home-top text-center background-purple text-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-name cloud-right">I'm Francisco Pena</h1>
                <h2 class="profession cloud-left h5">Junior Frontend Developer</h2>
                <ul class="ul">
                    <li class="li even-space h2"><a href="https://www.linkedin.com/in/francisco-pena-b4b1b832"><i class="fa fa-linkedin-square"></i></a></li>
                    <li class="li even-space h2"><a href="https://github.com/daiky00"><i class="fa fa-github-square"></i></a></li>
                    <li class="li even-space h2"><a href="https://www.freecodecamp.com/daiky00"><i class="fa fa-fire" aria-hidden="true"></i></a></li>
                </ul>
                <img src="images/desk-tea.png" class="img-responsive margin-center" alt="land of code">
            </div>
        </div>
    </div>
</section>
<section class="padding-space text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img src="images/myself.png" class="img-logo-2" alt="myself-2">
                <h2 class="text-purple">Hi</h2>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <p class="paragraph">I'm a Frontend Developer based in New York, NY. I have a passion for web development and I love to create new things for the web and mobile devices.</p>
                <hr>
            </div>
            <div class="col-xs-12">
                <h2 class="text-purple margin-space">What I can do.</h2>
            </div>
            <div class="col-xs-12 col-md-offset-2 col-md-4">
                <p>I enjoy turning complex problems into simple, beautiful and intuitive interfaces with pixel perfection. When I'm not <i class="fa fa-code text-purple" aria-hidden="true"></i> coding or pushing pixels, you'll find me in the <i class="fa fa-hand-rock-o text-purple" aria-hidden="true"></i> gym or playing some <i class="fa fa-gamepad text-purple" aria-hidden="true"></i> video games.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <ul class="ul text-purple">
                    <li class="li li-space"><i class="fa fa-css3" aria-hidden="true"></i> CSS3</li>
                    <li class="li li-space"><i class="fa fa-clock-o" aria-hidden="true"></i> Sass</li>
                    <li class="li li-space"><i class="fa fa-compass" aria-hidden="true"></i> Compass</li>
                    <li class="li li-space"><i class="fa fa-bold" aria-hidden="true"></i> Bootstrap</li>
                    <li class="li li-space"><i class="fa fa-code" aria-hidden="true"></i> Jquery</li>
                    <li class="li li-space"><i class="fa fa-file-code-o" aria-hidden="true"></i> Javascript</li>
                    <li class="li li-space"><i class="fa fa-github-alt" aria-hidden="true"></i> Git</li>
                    <li class="li li-space"><i class="fa fa-html5" aria-hidden="true"></i> HTML 5</li>
                </ul>
            </div>
            <div class="col-xs-12">
                <h2 class="text-purple margin-space">Some of my latest work.</h2>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href="#/work"><img class="img-responsive logo-projects" src="images/iwantworth.png"></a>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href="#/work"><img class="img-responsive logo-projects" src="images/country-lyrics.png"></a>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href="#/work"><img class="img-responsive logo-projects" src="images/animecenter.png"></a>
            </div>
        </div>
    </div>
</section>
