<section ng-controller="WorkCtrl" class="text-center background-purple text-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-name cloud-right">my work</h1>
                <h2 class="profession cloud-left h5">My portfolio made with coffee</h2>
                <div class="sublime-text">
                    <div class="screen">
                        <div class="left-bar"></div>
                        <div class="top-bar">
                            <div class="buttons"></div>
                        </div>
                        <div class="code">
                            <div class="line line1">
                                <p class="code-item green"></p>
                                <p class="code-item purple"></p>
                            </div>
                            <div class="line line2">
                                <p class="code-item blue"></p>
                                <p class="code-item yellow"></p>
                                <p class="code-item green"></p>
                            </div>
                            <div class="line line3">
                                <p class="code-item transparent"></p>
                                <p class="code-item orange"></p>
                                <p class="code-item green"></p>
                                <p class="code-item purple"></p>
                            </div>
                            <div class="line line4">
                                <p class="code-item transparent"></p>
                                <p class="code-item transparent"></p>
                                <p class="code-item yellow"></p>
                                <p class="code-item blue"></p>
                                <p class="code-item green">
                                </p>
                            </div>
                            <div class="line line5">
                                <p class="code-item transparent"></p>
                                <p class="code-item transparent"></p>
                                <p class="code-item purple"></p>
                                <p class="code-item orange"></p>
                                <p class="code-item yellow"></p>
                            </div>
                            <div class="line line6">
                                <p class="code-item transparent"></p>
                                <p class="code-item green"></p>
                                <p class="code-item blue"></p>
                                <p class="code-item purple">
                                </p>
                            </div>
                            <div class="line line7">
                                <p class="code-item transparent"></p>
                                <p class="code-item yellow"></p>
                                <p class="code-item purple"></p>
                                <p class="code-item green"></p>
                            </div>
                            <div class="line line8">
                                <p class="code-item transparent"></p>
                                <p class="code-item transparent"></p>
                                <p class="code-item orange"></p>
                                <p class="code-item green"></p>
                                <p class="code-item purple">
                                </p>
                            </div>
                            <div class="line line9">
                                <p class="code-item transparent"></p>
                                <p class="code-item blue"></p>
                                <p class="code-item yellow"></p>
                                <p class="code-item cursor"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="projects padding-space background-blue text-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="http://iwantwhatitsworth.com/">
                    <h2>I Want Worth</h2>
                    <h5>Design Photoshop</h5>
                    <img src="images/project-1.png" class="img-responsive margin-center">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <p class="description padding-space">
                    I worked on this site design on march 2016 it took me a lot of time to put the design together since I am not a designer
                    but it turn out good, The tools I use for this project are:
                    <i class="devicon-photoshop-plain" aria-hidden="true"></i> Adobe Photoshop and
                    <i class="devicon-illustrator-plain" aria-hidden="true"></i> Adobe Ilustrator.
                </p>
                <a class="btn background-white text-black" href="http://iwantwhatitsworth.com/">Visit the site</a>
            </div>
        </div>
    </div>
</section>
<section class="projects padding-space background-red text-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="https://www.country-lyrics.com/">
                    <h2>Country Lyrics</h2>
                    <h5>Frontend Developer - UI/UX - Design</h5>
                    <img src="images/project-2.png" class="img-responsive margin-center">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <p class="description padding-space">
                    I worked on this site frontend area and design from 2014 to 2016.
                    We were a group of programmers working together to bring out the best UI/UX and speed performance possible for this site. You can check out this site
                    <a class="text-yellow" href="https://developers.google.com/speed/pagespeed/insights/?url=https://www.country-lyrics.com">Performance Speed Test Here.</a>
                    What I use:
                    <i class="devicon-html5-plain text-yellow" aria-hidden="true"></i> HTML5,
                    <i class="devicon-css3-plain text-yellow" aria-hidden="true"></i> CSS3,
                    <i class="devicon-javascript-plain text-yellow" aria-hidden="true"></i> Javascript,
                    <i class="devicon-jquery-plain text-yellow" aria-hidden="true"></i> jQuery,
                    <i class="devicon-bootstrap-plain text-yellow" aria-hidden="true"></i> Bootstrap,
                    <i class="devicon-sass-original text-yellow" aria-hidden="true"></i> Sass,
                    <i class="devicon-github-plain text-yellow" aria-hidden="true"></i> Git,
                    <i class="devicon-gulp-plain text-yellow" aria-hidden="true"></i> Gulp,
                    <i class="devicon-photoshop-plain text-yellow" aria-hidden="true"></i> Photoshop.

                </p>
                <a class="btn background-yellow text-white" href="https://www.country-lyrics.com/">Visit the site</a>
            </div>
        </div>
    </div>
</section>
<section class="projects padding-space background-green text-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="http://www.animecenter.tv/">
                    <h2>Anime Center</h2>
                    <h5>CEO - Frontend Developer - Design - Security</h5>
                    <img src="images/project-3.png" class="img-responsive margin-center">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <p class="description padding-space">
                    Animecenter.tv was the first site I build and is my own personal project. I built this site back in 2011
                    just to share "Anime" with the world. But after 6 months of doing some SEO, research, and code, it turns out to be a
                    very successful site.In fact, we are building a brand new version of this site at this moment which you can find on
                    <a class="text-black" href="https://github.com/animecenter/animecenter"><i class="fa fa-github-alt" aria-hidden="true"></i> GitHub.</a>
                    You are welcome if you want to contribute
                    What I use:
                    <i class="devicon-html5-plain text-black" aria-hidden="true"></i> HTML5 ,
                    <i class="devicon-css3-plain text-black" aria-hidden="true"></i> CSS3 ,
                    <i class="devicon-javascript-plain text-black" aria-hidden="true"></i> Javascript ,
                    <i class="devicon-jquery-plain text-black" aria-hidden="true"></i> jQuery,
                    <i class="devicon-bootstrap-plain text-black" aria-hidden="true"></i> Bootstrap,
                    <i class="devicon-sass-original text-black" aria-hidden="true"></i> Sass,
                    <i class="devicon-github-plain text-black" aria-hidden="true"></i> Git,
                    <i class="devicon-gulp-plain text-black" aria-hidden="true"></i> Gulp,
                    <i class="devicon-photoshop-plain text-black" aria-hidden="true"></i> Photoshop.
                </p>
                <a class="btn background-black text-white" href="http://www.animecenter.tv/">Visit the site</a>
            </div>
        </div>
    </div>
</section>
<section class="projects padding-space background-light-blue text-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="http://anilist.co/register">
                    <h2>Anilist</h2>
                    <h5>Frontend Developer - Design</h5>
                    <img src="images/project-4.png" class="img-responsive margin-center">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <p class="description padding-space">
                    Massive database of anime that I worked on and helped make back in 2014. it was a team of 5 people on the front end and 5 on the back end.
                    My main job for this site was to check out the competition and beat it with a better design, Plus I was in charge of converting my ideas
                    into code and then transfer them to other team members. This site is one of the biggest sites in the anime industry now days.
                    What I use:
                    <i class="devicon-html5-plain text-red" aria-hidden="true"></i> HTML5 ,
                    <i class="devicon-css3-plain text-red" aria-hidden="true"></i> CSS3 ,
                    <i class="devicon-javascript-plain text-red" aria-hidden="true"></i> Javascript ,
                    <i class="devicon-angularjs-plain text-red" aria-hidden="true"></i> AngularJS ,
                    <i class="devicon-jquery-plain text-red" aria-hidden="true"></i> jQuery,
                    <i class="devicon-bootstrap-plain text-red" aria-hidden="true"></i> Bootstrap,
                    <i class="devicon-sass-original text-red" aria-hidden="true"></i> Sass,
                    <i class="devicon-github-plain text-red" aria-hidden="true"></i> Git,
                    <i class="devicon-grunt-plain text-red" aria-hidden="true"></i> Grunt,
                    <i class="devicon-photoshop-plain text-red" aria-hidden="true"></i> Photoshop.
                </p>
                <a class="btn background-red text-white" href="http://anilist.co/register">Visit the site</a>
            </div>
        </div>
    </div>
</section>
<section class="projects padding-space background-dark-purple text-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="http://anichart.net/spring">
                    <h2>Anichart</h2>
                    <h5>Frontend Developer - Design</h5>
                    <img src="images/project-5.png" class="img-responsive margin-center">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <p class="description padding-space">
                    2013 - The mini version of anilist.co made by me and the owner. The idea came when he ask me how do I made income and so I show him what
                    anime is and what is about and so we dicided to made this mini site for him which turn out to be the first stop for finding new anime coming out.
                    What I use:
                    <i class="devicon-html5-plain text-orange" aria-hidden="true"></i> HTML5 ,
                    <i class="devicon-css3-plain text-orange" aria-hidden="true"></i> CSS3 ,
                    <i class="devicon-javascript-plain text-orange" aria-hidden="true"></i> Javascript ,
                    <i class="devicon-angularjs-plain text-orange" aria-hidden="true"></i> AngularJS ,
                    <i class="devicon-jquery-plain text-orange" aria-hidden="true"></i> jQuery,
                    <i class="devicon-bootstrap-plain text-orange" aria-hidden="true"></i> Bootstrap,
                    <i class="devicon-sass-original text-orange" aria-hidden="true"></i> Sass,
                    <i class="devicon-github-plain text-orange" aria-hidden="true"></i> Git,
                    <i class="devicon-grunt-plain text-orange" aria-hidden="true"></i> Grunt,
                    <i class="devicon-photoshop-plain text-orange" aria-hidden="true"></i> Photoshop.
                </p>
                <a class="btn background-orange text-white" href="http://anichart.net/spring">Visit the site</a>
            </div>
        </div>
    </div>
</section>
<section class="projects padding-space background-pink text-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="http://www.lovemyanime.net/">
                    <h2>Love My Anime</h2>
                    <h5>Frontend Developer - Design</h5>
                    <img src="images/project-6.png" class="img-responsive margin-center">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <p class="description padding-space">
                  I worked on this site in 2012. I made it in WordPress for a client of mine and now is doing pretty well I believe is getting more than 300k visits a day. Great site but bad CMS
                    What I use:
                    <i class="devicon-wordpress-plain text-light-blue" aria-hidden="true"></i> Wordpress,
                    <i class="devicon-html5-plain text-light-blue" aria-hidden="true"></i> HTML5,
                    <i class="devicon-css3-plain text-light-blue" aria-hidden="true"></i> CSS3,
                    <i class="devicon-jquery-plain text-light-blue" aria-hidden="true"></i> jQuery,
                    <i class="devicon-sass-original text-light-blue" aria-hidden="true"></i> Sass,
                    <i class="devicon-photoshop-plain text-light-blue" aria-hidden="true"></i> Photoshop.
                </p>
                <a class="btn background-light-blue text-white" href="http://www.lovemyanime.net/">Visit the site</a>
            </div>
        </div>
    </div>
</section>
