<section ng-controller="WorkCtrl" class="text-center background-purple text-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-name cloud-right">my work</h1>
                <h2 class="profession cloud-left h5">My portfolio made with coffee</h2>
                <div class="sublime-text">
                    <div class="screen">
                        <div class="left-bar"></div>
                        <div class="top-bar">
                            <div class="buttons"></div>
                        </div>
                        <div class="code">
                            <div class="line line1">
                                <p class="code-item green"></p>
                                <p class="code-item purple"></p>
                            </div>
                            <div class="line line2">
                                <p class="code-item blue"></p>
                                <p class="code-item yellow"></p>
                                <p class="code-item green"></p>
                            </div>
                            <div class="line line3">
                                <p class="code-item transparent"></p>
                                <p class="code-item orange"></p>
                                <p class="code-item green"></p>
                                <p class="code-item purple"></p>
                            </div>
                            <div class="line line4">
                                <p class="code-item transparent"></p>
                                <p class="code-item transparent"></p>
                                <p class="code-item yellow"></p>
                                <p class="code-item blue"></p>
                                <p class="code-item green">
                                </p>
                            </div>
                            <div class="line line5">
                                <p class="code-item transparent"></p>
                                <p class="code-item transparent"></p>
                                <p class="code-item purple"></p>
                                <p class="code-item orange"></p>
                                <p class="code-item yellow"></p>
                            </div>
                            <div class="line line6">
                                <p class="code-item transparent"></p>
                                <p class="code-item green"></p>
                                <p class="code-item blue"></p>
                                <p class="code-item purple">
                                </p>
                            </div>
                            <div class="line line7">
                                <p class="code-item transparent"></p>
                                <p class="code-item yellow"></p>
                                <p class="code-item purple"></p>
                                <p class="code-item green"></p>
                            </div>
                            <div class="line line8">
                                <p class="code-item transparent"></p>
                                <p class="code-item transparent"></p>
                                <p class="code-item orange"></p>
                                <p class="code-item green"></p>
                                <p class="code-item purple">
                                </p>
                            </div>
                            <div class="line line9">
                                <p class="code-item transparent"></p>
                                <p class="code-item blue"></p>
                                <p class="code-item yellow"></p>
                                <p class="code-item cursor"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="projects padding-space background-blue text-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="http://iwantwhatitsworth.com/">
                    <h2>I Want Worth</h2>
                    <h5>Design Photoshop</h5>
                    <img src="images/project-1.png" class="img-responsive margin-center">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <p class="description padding-space">
                    I worked on this site design on march 2016 it took me a lot of time to put the design together since I am not a designer
                    but it turn out good, The tools I use for this project are Adobe Photoshop and Adobe Ilustrator.
                </p>
                <a class="btn btn-default" href="http://iwantwhatitsworth.com/">Visit the site</a>
            </div>
        </div>
    </div>
</section>
<section class="projects padding-space background-red text-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="https://www.country-lyrics.com/">
                    <h2>Country Lyrics</h2>
                    <h5>Frontend Developer - UI/UX - Design</h5>
                    <img src="images/project-2.png" class="img-responsive margin-center">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <p class="description padding-space">
                    I worked on this site frontend area and design from 2014 to 2016.
                    We were a group of programmers working together to bring out the best UI/UX and speed performance possible for this site. You can check out this site
                    <a class="text-yellow" href="https://developers.google.com/speed/pagespeed/insights/?url=https://www.country-lyrics.com">Performance Speed Test Here.</a>
                    What I use:
                    <i class="fa fa-html5 text-yellow" aria-hidden="true"></i> HTML 5,
                    <i class="fa fa-css3 text-yellow" aria-hidden="true"></i> CSS3
                    <i class="fa fa-bold text-yellow" aria-hidden="true"></i> Bootstrap,
                    <i class="fa fa-clock-o text-yellow" aria-hidden="true"></i> Sass,
                    <i class="fa fa-code text-yellow" aria-hidden="true"></i> jQuery,
                    <i class="fa fa-file-code-o text-yellow" aria-hidden="true"></i> Javascript,
                    <i class="fa fa-github-alt text-yellow" aria-hidden="true"></i> Git.
                </p>
                <a class="btn btn-default" href="https://www.country-lyrics.com/">Visit the site</a>
            </div>
        </div>
    </div>
</section>
<section class="projects padding-space background-green text-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="http://www.animecenter.tv/">
                    <h2>Anime Center</h2>
                    <h5>CEO - Frontend Developer - Design - Security</h5>
                    <img src="images/project-3.png" class="img-responsive margin-center">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <p class="description padding-space">
                    I worked on this site design on march 2016 it took me a lot of time to put the design together since I am not a designer
                    but it turn out good, The tools I use for this project are Adobe Photoshop and Adobe Ilustrator.
                </p>
                <a class="btn btn-default" href="http://www.animecenter.tv/">Visit the site</a>
            </div>
        </div>
    </div>
</section>
<section class="projects padding-space background-light-blue text-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="http://anilist.co/register">
                    <h2>Anilist</h2>
                    <h5>Frontend Developer - Design</h5>
                    <img src="images/project-4.png" class="img-responsive margin-center">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <p class="description padding-space">
                    I worked on this site design on march 2016 it took me a lot of time to put the design together since I am not a designer
                    but it turn out good, The tools I use for this project are Adobe Photoshop and Adobe Ilustrator.
                </p>
                <a class="btn btn-default" href="http://anilist.co/register">Visit the site</a>
            </div>
        </div>
    </div>
</section>
<section class="projects padding-space background-dark-purple text-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="http://anichart.net/spring">
                    <h2>Anichart</h2>
                    <h5>Frontend Developer - Design</h5>
                    <img src="images/project-5.png" class="img-responsive margin-center">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <p class="description padding-space">
                    I worked on this site design on march 2016 it took me a lot of time to put the design together since I am not a designer
                    but it turn out good, The tools I use for this project are Adobe Photoshop and Adobe Ilustrator.
                </p>
                <a class="btn btn-default" href="http://anichart.net/spring">Visit the site</a>
            </div>
        </div>
    </div>
</section>
<section class="projects padding-space background-pink text-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="http://www.lovemyanime.net/">
                    <h2>Love My Anime</h2>
                    <h5>Frontend Developer - Design</h5>
                    <img src="images/project-6.png" class="img-responsive margin-center">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <p class="description padding-space">
                    I worked on this site design on march 2016 it took me a lot of time to put the design together since I am not a designer
                    but it turn out good, The tools I use for this project are Adobe Photoshop and Adobe Ilustrator.
                </p>
                <a class="btn btn-default" href="http://www.lovemyanime.net/">Visit the site</a>
            </div>
        </div>
    </div>
</section>